<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %> </title>
	<meta charset="UTF-8">
    <%- include("../layout/components-auth/styles-auth.ejs") %>
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<%- body %> 
		</div>
	</div>
<%- include("../layout/components-auth/script-auth.ejs") %>
</body>
</html>